body {
    direction: rtl;
}

.facebookComments, .facebookPage {
    list-style: none;
    overflow: auto;
}

.facebookPage li {
    padding: 10px;
    border: 1px solid green;
}

.facebookComments li {
    padding: 2px;
    margin: 2px;
    border: 1px dashed lightslategray;
    float: right;
    width: 300px;
    height: 150px;
    text-overflow: clip;
    text-overflow: ellipsis;
    text-overflow: "...";
    word-break: break-all;
    overflow: hidden;
}

.facebookComment {
    margin: 0;
    padding: 0;
}

.spinner {
    width: 30px;
    height: 30px;
    background-color: #333;

    margin: 100px auto;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}